@use 'src/styles/colors' as colors;
@use 'src/styles/typography' as typography;

@mixin button() {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  flex-shrink: 0;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  padding: 0.38rem 1.5rem;

  font-size: typography.$font-size-m;
  font-weight: typography.$font-weight-l;
  line-height: typography.$line-height-m;
  color: colors.$color-light-100;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 0.125rem;

  &:focus-visible,
  &:focus {
    outline: 2px solid colors.$color-accent-700;
  }

  &:disabled {
    cursor: auto;
  }
}

.primary {
  @include button;

  background-color: colors.$color-accent-500;

  &:hover {
    background-color: colors.$color-accent-100;
  }

  &:focus {
    background-color: colors.$color-accent-500;
  }

  &:active {
    background-color: colors.$color-accent-700;
  }

  &:disabled {
    color: colors.$color-light-900;
    background-color: colors.$color-accent-900;
  }
}

.secondary {
  @include button;

  background-color: colors.$color-dark-300;

  &:hover {
    background-color: colors.$color-dark-100;
  }

  &:active {
    background-color: colors.$color-dark-500;
  }

  &:disabled {
    color: colors.$color-light-900;
    background-color: colors.$color-dark-500;
  }

  &:focus-visible,
  &:focus {
    background-color: colors.$color-dark-300;
    outline: 1px solid colors.$color-accent-300;
  }
}

.outline {
  @include button;

  color: colors.$color-accent-700;
  outline: 1px solid colors.$color-accent-700;

  &:hover {
    color: colors.$color-accent-100;
    outline: 1px solid colors.$color-accent-100;
  }

  &:active {
    color: colors.$color-accent-700;
    outline: 1px solid colors.$color-accent-700;
  }

  &:disabled {
    color: colors.$color-accent-900;
    outline: 1px solid colors.$color-accent-900;
  }

  &:focus-visible,
  &:focus {
    color: colors.$color-accent-900;
    outline: 2px solid colors.$color-accent-900;
  }
}

.text {
  @include button;

  color: colors.$color-accent-500;
  border: none;

  &:hover {
    color: colors.$color-accent-100;
  }

  &:active {
    color: colors.$color-accent-700;
  }

  &:disabled {
    color: colors.$color-accent-900;
  }

  &:focus-visible,
  &:focus {
    color: colors.$color-accent-500;
    outline: 2px solid colors.$color-accent-700;
  }
}

.fullWidth {
  width: 100%;
}
