.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-container {
  position: relative;

  max-width: 600px;
  margin: 20px auto;

  font-weight: 400;
  line-height: 20px;
  color: #000;
  text-align: left;

  border-radius: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editor-inner {
  position: relative;
  background: #fff;
}

.editor-input {
  resize: none;

  position: relative;

  min-height: 150px;
  padding: 15px 10px;

  font-size: 15px;
  tab-size: 1;

  outline: 0;
  caret-color: #444;
}

.editor-placeholder {
  pointer-events: none;
  user-select: none;

  position: absolute;
  top: 15px;
  left: 10px;

  overflow: hidden;
  display: inline-block;

  font-size: 15px;
  color: #999;
  text-overflow: ellipsis;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
  background-color: rgb(240 242 245);
}

.editor-link {
  color: rgb(33 111 219);
  text-decoration: none;
}

.tree-view-output {
  position: relative;

  overflow: auto;
  display: block;

  max-height: 250px;
  margin: 1px auto 10px;
  padding: 5px;

  font-size: 12px;
  line-height: 14px;
  color: #fff;
  white-space: pre-wrap;

  background: #222;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.editor-code {
  position: relative;

  /* white-space: pre; */
  overflow-x: auto;
  display: block;

  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 8px 8px 52px;

  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 13px;
  line-height: 1.53;
  tab-size: 2;

  background-color: rgb(240 242 245);
}

.editor-code::before {
  content: attr(data-gutter);

  position: absolute;
  top: 0;
  left: 0;

  min-width: 25px;
  padding: 8px;

  color: #777;
  text-align: right;
  white-space: pre-wrap;

  background-color: #eee;
  border-right: 1px solid #ccc;
}

.editor-code::after {
  content: attr(data-highlight-language);

  position: absolute;
  top: 0;
  right: 3px;

  padding: 3px;

  font-size: 10px;
  color: rgb(0 0 0 / 50%);
  text-transform: uppercase;
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-paragraph {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-heading-h1 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-size: 24px;
  font-weight: 400;
  color: rgb(5 5 5);
}

.editor-heading-h2 {
  margin: 0;
  margin-top: 10px;
  padding: 0;

  font-size: 15px;
  font-weight: 700;
  color: rgb(101 103 107);
  text-transform: uppercase;
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  padding-left: 16px;

  font-size: 15px;
  color: rgb(101 103 107);

  border-left: 4px solid rgb(206 208 212);
}

.editor-list-ol {
  margin: 0;
  margin-left: 16px;
  padding: 0;
}

.editor-list-ul {
  margin: 0;
  margin-left: 16px;
  padding: 0;
}

.editor-listitem {
  margin: 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.debug-timetravel-panel {
  overflow: hidden;
  display: flex;
  margin: auto;
  padding: 0 0 10px;
}

.debug-timetravel-panel-slider {
  flex: 8;
  padding: 0;
}

.debug-timetravel-panel-button {
  flex: 1;

  padding: 0;

  font-size: 12px;
  color: #fff;

  background: none;
  border: 0;
}

.debug-timetravel-panel-button:hover {
  text-decoration: underline;
}

.debug-timetravel-button {
  position: absolute;
  top: 10px;
  right: 15px;

  padding: 0;

  font-size: 12px;
  color: #fff;

  background: none;
  border: 0;
}

.debug-timetravel-button:hover {
  text-decoration: underline;
}

.toolbar {
  display: flex;

  margin-bottom: 1px;
  padding: 4px;

  vertical-align: middle;

  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.toolbar button.toolbar-item {
  cursor: pointer;

  display: flex;

  padding: 8px;

  vertical-align: middle;

  background: none;
  border: 0;
  border-radius: 10px;
}

.toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
  display: flex;

  width: 18px;
  height: 18px;
  margin-top: 2px;

  vertical-align: -0.25em;

  opacity: 0.6;
  background-size: contain;
}

.toolbar button.toolbar-item:disabled i.format {
  opacity: 0.2;
}

.toolbar button.toolbar-item.active {
  background-color: rgb(223 232 250 / 30%);
}

.toolbar button.toolbar-item.active i {
  opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.toolbar .divider {
  width: 1px;
  margin: 0 4px;
  background-color: #eee;
}

.toolbar .toolbar-item .text {
  overflow: hidden;
  display: flex;

  width: 70px;
  height: 20px;

  font-size: 14px;
  line-height: 20px;
  color: #777;
  text-align: left;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.toolbar .toolbar-item .icon {
  user-select: none;

  display: flex;

  width: 20px;
  height: 20px;
  margin-right: 8px;

  line-height: 16px;

  background-size: contain;
}

i.undo {
  background-image: url('icons/arrow-counterclockwise.svg');
}

i.redo {
  background-image: url('icons/arrow-clockwise.svg');
}

/* i.bold { */

/*  background-image: url("icons/type-bold.svg"); */

/* } */

/* i.italic { */

/*  background-image: url("icons/type-italic.svg"); */

/* } */

/* i.underline { */

/*  background-image: url("icons/type-underline.svg"); */

/* } */

/* i.strikethrough { */

/*  background-image: url("icons/type-strikethrough.svg"); */

/* } */

/* i.left-align { */

/*  background-image: url("icons/text-left.svg"); */

/* } */

/* i.center-align { */

/*  background-image: url("icons/text-center.svg"); */

/* } */

/* i.right-align { */

/*  background-image: url("icons/text-right.svg"); */

/* } */

/* i.justify-align { */

/*  background-image: url("icons/justify.svg"); */

/* } */
