@use 'src/styles/colors' as colors;
@use 'src/styles/typography' as typography;

@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

.large {
  @include typography(
    typography.$font-size-xxl,
    typography.$line-height-l,
    typography.$font-weight-l
  );
}

.h1 {
  @include typography(
    typography.$font-size-xl,
    typography.$line-height-l,
    typography.$font-weight-xl
  );
}

.h2 {
  @include typography(
    typography.$font-size-l,
    typography.$line-height-m,
    typography.$font-weight-xl
  );
}

.h3 {
  @include typography(
    typography.$font-size-m,
    typography.$line-height-m,
    typography.$font-weight-l
  );
}

.regular16 {
  @include typography(
    typography.$font-size-m,
    typography.$line-height-m,
    typography.$font-weight-s
  );
}

.bold16 {
  @include typography(
    typography.$font-size-m,
    typography.$line-height-m,
    typography.$font-weight-xl
  );
}

.regular14 {
  @include typography(
    typography.$font-size-s,
    typography.$line-height-m,
    typography.$font-weight-s
  );
}

.medium14 {
  @include typography(
    typography.$font-size-s,
    typography.$line-height-m,
    typography.$font-weight-m
  );
}

.bold14 {
  @include typography(
    typography.$font-size-s,
    typography.$line-height-m,
    typography.$font-weight-xl
  );
}

.small {
  @include typography(
    typography.$font-size-xs,
    typography.$line-height-s,
    typography.$font-weight-s
  );
}

.sb_small {
  @include typography(
    typography.$font-size-xs,
    typography.$line-height-s,
    typography.$font-weight-l
  );
}

.link,
.link:visited {
  @include typography(
    typography.$font-size-s,
    typography.$line-height-m,
    typography.$font-weight-s
  );

  cursor: pointer;
  color: colors.$color-accent-500;
  text-decoration: underline;
}

.s_link,
.s_link:visited {
  @include typography(
    typography.$font-size-xs,
    typography.$line-height-s,
    typography.$font-weight-s
  );

  cursor: pointer;
  color: colors.$color-accent-300;
  text-decoration: underline;
}

.primary {
  color: colors.$color-light-100;
}

.secondary {
  color: colors.$color-light-900;
}

.error {
  color: colors.$color-danger-500;
}

.disabled {
  color: colors.$color-dark-100;
}

.linkColor {
  color: colors.$color-accent-500;
}
