@use 'src/styles/colors' as colors;

.icon {
  transition: 0.2s ease-in-out;
}

.trigger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.37rem 0.75rem;

  color: colors.$color-light-100;

  border: 1px solid colors.$color-dark-100;
  border-radius: 0.125rem;

  span {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    img {
      margin-right: 0.75rem;
    }
  }

  &:focus,
  &:focus-visible {
    border: 1px solid transparent;
    outline: 2px solid colors.$color-accent-700;
  }

  &[data-state='open'] {
    background: colors.$color-dark-500;
    border-color: colors.$color-light-100;
    border-radius: 2px 2px 0 0;

    .icon {
      transform: rotate(180deg);
    }
  }

  &:hover:not([data-disabled]) {
    cursor: pointer;
    color: colors.$color-light-900;
    border: 1px solid transparent;
    outline: 1px solid colors.$color-light-900;
  }

  &[data-disbled] {
    cursor: initial;
    color: colors.$color-dark-300;
    border-color: colors.$color-dark-300;
  }
}

.triggerDisabled {
  all: inherit;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.37rem 0.75rem;

  color: colors.$color-dark-100;

  border: 1px solid colors.$color-dark-100;
  border-radius: 0.125rem;

  .iconDisabled {
    fill: colors.$color-dark-100;
  }
}

.content {
  overflow: auto;

  width: 5px;

  background: colors.$color-dark-500;
  border: 1px solid colors.$color-light-100;
  border-radius: 0 0 2px 2px;

  .item {
    cursor: pointer;

    display: flex;
    flex-direction: row;

    padding: 0.37rem 0.75rem;

    outline: none;

    transition: 0.2s ease-out;

    img {
      margin-right: 0.75rem;
    }

    &:hover,
    &:focus-visible,
    &[data-state='cheked'] {
      color: colors.$color-accent-500;
      background-color: colors.$color-dark-300;
    }
  }
}

.height {
  height: 200px;
}
